@use "../../scss/colors";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.diagram {
	table-layout: fixed;
	border-collapse: collapse;
	tbody {
		width: fit-content;
		height: fit-content;
		tr td {
			position: relative;
			white-space: nowrap;
			font-size: 0.75rem;
		}
	}
}
.scramble-pic {
	justify-self: center;
}
.outer-scramble-pic {
	padding: 10px;
	background-color: colors.$light-navbar;
	border: 3px solid colors.$dark-navbar;
	border-radius: 10px;
	width: fit-content;
	height: fit-content;
}

#Zero,
#One,
#Two,
#Three,
#Five,
#Six,
#Seven,
#Eight {
	background-color: white;
	border: 1px solid black;
	color: white;
}
#Nine,
#Ten,
#Eleven,
#Eighteen,
#Twenty,
#Twenty-Seven,
#Twenty-Eight,
#Twenty-Nine {
	background-color: orange;
	border: 1px solid black;
	color: orange;
}
#Twelve,
#Thirteen,
#Fourteen,
#Twenty-One,
#Twenty-Three,
#Thirty,
#Thirty-One,
#Thirty-Two {
	background-color: lightgreen;
	border: 1px solid black;
	color: lightgreen;
}
#Fifteen,
#Sixteen,
#Seventeen,
#Twenty-Four,
#Twenty-Five,
#Twenty-Six,
#Thirty-Three,
#Thirty-Four,
#Thirty-Five {
	background-color: red;
	border: 1px solid black;
	color: red;
}
#Fifty-Three,
#Fifty-Two,
#Fifty-One,
#Fifty,
#Forty-Eight,
#Forty-Seven,
#Forty-Six,
#Forty-Five {
	background-color: cyan;
	border: 1px solid black;
	color: cyan;
}
#Thirty-Six,
#Thirty-Seven,
#Thirty-Eight,
#Thirty-Nine,
#Forty-One,
#Forty-Two,
#Forty-Three,
#Forty-Four {
	background-color: yellow;
	border: 1px solid black;
	color: yellow;
}
#light-dark:checked ~ .App .main .scramble-pic {
	.outer-scramble-pic {
		background-color: colors.$dark-navbar;
		border: 5px solid colors.$light-navbar;
	}
}
@media screen and (min-width: 1024px) and (min-height: 600px) {
	.diagram {
		tbody {
			tr td {
				font-size: 1.5rem;
			}
		}
	}
	.outer-scramble-pic {
		position: fixed;
		bottom: 0;
		right: 0;
		padding: 10px;
		background-color: colors.$light-navbar;
		border: 5px solid colors.$dark-navbar;
		border-radius: 10px;
	}
}
