@use "../scss/colors";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.all-solves {
	position: relative;
	width: 100%;
	.solves-table::-webkit-scrollbar {
		display: none;
	}
	.solves-table {
		background-color: colors.$light-navbar;
		height: 100%;
		border: 3px solid colors.$dark-navbar;
		border-radius: 10px;
		overflow: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		table {
			width: 100%;
			height: fit-content;
			border-collapse: collapse;
			thead {
				tr {
					background-color: transparent;
					th {
						padding: 5% 0;
						select {
							-webkit-appearance: none;
							-moz-appearance: none;
							cursor: pointer;
							background-color: transparent;
							border: none;
							font-size: 1.25rem;
							border-radius: 5px;
							width: fit-content;
						}
						select:hover {
							background-color: rgba(255, 255, 255, 0.5);
						}
					}
				}
			}
			tbody {
				position: relative;
				top: 0;
				height: fit-content;
				tr {
					cursor: pointer;
					border-bottom: 1px solid colors.$dark-navbar;
					border-top: 1px solid colors.$dark-navbar;
					td {
						text-align: center;
						padding: 5% 0;
					}
					td:first-child {
						cursor: default;
					}
				}
			}
		}
	}
}
#light-dark:checked ~ .App .main .all-solves {
	.solves-table {
		background-color: colors.$dark-navbar;
		border: 3px solid colors.$light-navbar;
		table {
			thead tr th select {
				color: white;
			}
			tbody tr {
				border-bottom: 1px solid colors.$light-navbar;
				border-top: 1px solid colors.$light-navbar;
				color: white;
			}
		}
	}
}
