$not-ready: #ff6f61;
$ready: #1aff1a;
$light-background: #deebf7;
$dark-background: #414a53;
$dark-button: #004280;
$light-button: #ffffff;
$light-primary: #ccffff;
$light-secondary: #00e6e6;
$dark-primary: #335b83;
$dark-secondary: #414a53;
