$not-ready: #ff6f61;
$ready: #1aff1a;
$ready-for-light: #12b112;

$light-background: #adbcc9;
$light-button: #ffffff;
$light-primary: #ccffff;
$light-secondary: #00e6e6;
$light-navbar: #adcdeb;

$dark-primary: #66fcf1;
$dark-secondary: #45a29e;
$dark-navbar: #1f2833;
$dark-background: #0b0c10;
$dark-button: #004280;
